.container {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f2f2f2;

    @media screen and (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .newsLatterWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin-bottom: 20px;
        }

        input {
            width: 280px;
            height: 50px;
            padding: 0 20px;
            border: none;
            border-radius: 5px;
            font-size: 12px;

            &:first-child {
                margin-right: 10px;
            }

            &::placeholder {
                color: #585858;
                font-weight: 700;
                font-size: 12px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }

        button {
            height: 50px;
            width: 140px;
            border-radius: 5px;
            margin-left: 10px;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }
        }

        .sucess {
            color: #008000;
            margin-top: 10px;
        }

        .error {
            color: #ff0000;
            margin-top: 10px;
        }
    }
}
