.input {
  border-bottom: 1px solid #7A7A7A;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  outline: none;
  
  &::placeholder {
    color: #7A7A7A;
    font-weight: 400;
  }

  &:active,
  :focus,
  :focus-visible {
    outline: none;
    background: none;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}