.container {
  padding: 20px 0;

  .topWrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }¨

    .logoImage {
      max-width: 200px !important;
    }
  }
}
