.container {
  padding: 20px 0;

  .topWrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }

    .inputWrapper {
      display: flex;

      input {
        min-width: 700px;
      }
    }

    .accontCartWrapper {
      display: flex;
      justify-content: end;
      align-items: center;

      button {
        display: flex;

        .iconUser {
          margin-right: 5px;
        }

        svg {
          font-size: 30px;
          color: #000000;
        }
      }
    }
  }
}
