.container {
  padding: 20px 0;

  .topWrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }

    .inputWrapper {
      display: flex;

      input {
        min-width: 700px;

        @media screen and (max-width: 1024px) {
          min-width: 400px;
        }
      }
    }

    .accontCartWrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        display: flex;
        align-items: center;

        .iconUser {
          margin-right: 5px;
        }

        svg {
          font-size: 30px;
          color: #000000;
        }
      }

      .bagdeColor {
        background-color: #f8475f;
      }
    }
  }
}

.containerMobile {
  padding: 20px;

  .topWrapperMobile {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }
  }

  .cartWrapperMobile {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0;
    }

    .bagdeColor {
      background-color: #f8475f;
      margin-top: 10px;
    }
  }

  .inputWrapper {
    width: 100%;

    .searchIcon {
      color: #000000;
    }
  }
}
