html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;

  h1 {
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
