.container {
    padding-top: 25px;
    padding-bottom: 60px;
    height: 500px;

    .titleWrapper {
        border-bottom: 5px solid #c0c0c0;
        width: 65px;
        margin-bottom: 20px;
    }

    .skeletonWrapper {
        .skeletonWrapperDesktop {
            display: flex;
            justify-content: space-between;
        }

        .skeletonWrapperTablet {
            display: none;
        }

        .skeletonWrapperMobile {
            display: none;
        }

        @media screen and (max-width: 768px) {
            .skeletonWrapperDesktop {
                display: none;
            }

            .skeletonWrapperTablet {
                display: flex;
                justify-content: space-between;
            }
        }

        @media screen and (max-width: 580px) {
            .skeletonWrapperDesktop {
                display: none;
            }

            .skeletonWrapperTablet {
                display: none;
            }

            .skeletonWrapperMobile {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .slides {
        .swiper-pagination {
            bottom: 40px;
        }
    }

    .itensWrapper {
        position: relative;

        .offWrapper {
            position: absolute;
            right: 0;
        }

        .itensImage {
            width: 100%;
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 25px;
            text-align: center;

            .imageRating {
                margin: 5px 0;
            }

            h1 {
                margin: 4px 0;
            }

            button {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                    border-radius: 5px;
                    padding: 7px;
                    margin-top: 10px;
                    max-width: 150px;
                }
            }

            &:hover {
                background-color: #e6e8ea;
                transition: all 0.3s ease-out;

                button {
                    display: block;
                    border-radius: 5px;
                    padding: 7px;
                    margin-top: 10px;
                    max-width: 150px;
                }
            }

            @media screen and (max-width: 768px) {
                padding: 10px 0;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    @media screen and (max-width: 580px) {
        height: 430px;
    }
}
